body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/*header css*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.headermain {
    font-size: 24px;
    color: #F9FAF8;
    
}

ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/*hero (this is awesome)*/

.awesome {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    height: 300px;
    gap: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 450px;
}

.heromain {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.herosecond {
    font-size: 18px;
    color: #E5E7EB;
}

.herobutton {
    background-color: #3882f6;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}

.placeholdercon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color: #909094;
}

/*random information*/

.random {
    display: flex;
    flex-direction: column;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 20px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.box1 {
    height: 150px;
    width: 150px;
}

.box2 {
    height: 150px;
    width: 150px;
}

.box3 {
    height: 150px;
    width: 150px;
}

.box4 {
    height: 150px;
    width: 150px;
}

.subtext {
    text-align: center;
    color: #1F2937;
    margin-top: 10px;
}